<nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
    <input placeholder="Haltestelle" nz-input [(ngModel)]="inputValue" (ngModelChange)="onChange($event)"
        [nzAutocomplete]="auto" vrtSubmit (onSubmit)="onSubmit()" />
    <nz-autocomplete [nzDataSource]="filteredOptions" nzBackfill #auto></nz-autocomplete>
</nz-input-group>

<ng-template #suffixIcon>
    <span nz-icon nzType="search"></span>
    @if (inputValue && inputValue.length > 0) {
    <span nz-icon nzType="close" (click)="onReset()"></span>
    }
</ng-template>