/* You can add global styles to this file, and also import other style files */
@use '../node_modules/leaflet/dist/leaflet.css';
@use '../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';

body {
    margin: 0;
}

.ant-drawer {
    pointer-events: none !important;
}

.ant-drawer-content-wrapper {
    pointer-events: all !important;
}